form( method="post")#login-form.well.span4
            h1 Welcome!
            p.subheading Please Register Your Account
            label Username 
            input(type="text", name="user", id='user-tf').required
            label Password
            input(type="password", name="pass", id='pass-tf').required
            button(type="submit")#btn-login.btn.btn-primary
                i.icon-lock.icon-white
                | Register